body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side,
.right-side {
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.left-side {
    background-image: url('/assets/imgs/42820771.png'); /* Replace with your left background image URL */
    background-size: cover;
}

.right-side {
    background-image: url('/assets/imgs/Normal\ Sign\ Up.png'); /* Replace with your right background image URL */
    background-size: cover;
}

.logo {
    font-size: 32px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}

.options a:hover {
    text-decoration: underline;
}

.button-option {
    background-color: #ffffff;
   
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.button-option i {
    margin-right: 10px;
}

.button-option:hover {
    background-color: #0056b3;
}


h1,h4{
    color: black;
}
.sign-in-form {
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; 
}
.input-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input[type="checkbox"] {
    margin-right: 5px;
}

.sign-up-btn {

    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}
